<a href="https://colab.research.google.com/github/Poornimamunjappanavar/poornima/blob/main/cie2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv('/content/titanic.csv')
df.info()
df.describe()

In [ ]:
new_titanic=df.isnull().sum()
new_titanic

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.countplot(x="pclass", data=titanic)

plt.title("display the Count by pClass")
plt.xlabel("Passenger Class")
plt.ylabel("Count")
plt.show()

In [ ]:
import seaborn as sns

print("Missing values in Survived column:", titanic['survived'].isnull().sum())
print("Missing values in Age column:", titanic['age'].isnull().sum())

In [ ]:
new_titanic = df.dropna(subset=['Survived', 'Age'])
display(new_titanic)